{% extends "base.html" %}
{% block title %} Administrar usuario {% endblock %}
{% block content %}
	<br/>
	<br/>
	<br/>		
	{% load staticfiles %}
<div class="panel row">
	<h4 align="center"><strong>Administración de Usuarios</strong></h4>
	<br />
	<br />
	<div class= "row" data-equalizer>
		
		<div class="large-9 large-centered columns"  data-equalizer-watch>
			<form action="{% url 'vista_buscar_usuario' %}" method='POST'>
				{% csrf_token %}
			 	<dl class="sub-nav" >
  					
					<dd >
						<button title="Nuevo" type="button" class=" radius small success button" name="agregar" onClick="location.href='/crear_usuario/'"><i class="fi-plus"></i></button>
					</dd>
					<dd>
						<p>Buscar por:</p>
					</dd>
					<dd>
					{{form.opciones}}
					</dd>
					<dd >
					{{form.busqueda}}
					</dd>
					<dd >
						<button title="Buscar/Filtrar" class="small info button" type= "submit"><i class="fi-magnifying-glass"></i></button>
					</dd>
					<dd >
						<button title="Mostrar Todos" type="button" class="small info button" name="todos" onClick="location.href='/adm_usuario/'"><i class="fi-torsos-all"></i></button>
					</dd>
				</dl>
			</form>
		</div>
		
	</div>
	<div>
	<table align="center" >
		<thead class="th2">
			<tr>
				<th width="200">UserName</th>
				<th width="200">Nombre</th>
				<th width="200">Apellido</th>
				<th width="200">Teléfono</th>
				<th width="40">Editar</th>
				<th width="40">Eliminar</th>
				<th width="40">Consultar</th>
			</tr>
		</thead>
		{% for u in users %}
		<tbody class="td2">
			<tr>
				<td>{{u.username}}</td>
				<td>{{u.first_name}}</td>
				<td>{{u.last_name}}</td>
				<td>{{u.usuario.telefono}}</td>				
				<td><a href= "/modificar/usuario/{{u.id}}/"><button class="tiny radius success button"><i class="fi-pencil styletrash"></i></button></a></td>
				<td><a href= "/eliminar/usuario/{{u.id}}/"><button class="tiny radius alert button"><i class="fi-trash styletrash"></i></button></a></td>
				<td><a href= "/consultar/usuario/{{u.id}}/"><button class="tiny radius info button"><i class="fi-eye styletrash"></i></button></a></td>
			</tr>
		</tbody>
		
		{% endfor %}
	</table>
	</div>
</div>
	<p align="center"><input class="button" type="button" name="volver_menu" value="Volver a Menú" onClick="location.href='/menu/'"></p>
</div>
{% endblock %}
