{% extends "base.html" %}
{% block title %} Administrar usuario {% endblock %}
{% block content %}
	{% load staticfiles %}
	{{mensaje}} 
	{% if icono %}
		<img float="left" src="/media/images/iconos/{{icono}}" width="20px" heigh="20px">
	{% endif%}
	<form action="{% url 'vista_buscar_usuario' %}" method='POST'>
		{% csrf_token %}
		<div float="left" align="center">
			<button type="button" name="agregar" onClick="location.href='/crear_usuario/'"><img src="/media/images/iconos/icon_addlink.gif" width="16px" heigh="16px">Nuevo</button>
			|
			{{form}}
			<!--  <input type="submit" value="Buscar" ></input> -->
			
			<button type= "submit"><img src="/media/images/iconos/selector-search.gif">Buscar</button>
			|
			<button type="button" name="todos" onClick="location.href='/adm_usuario/'"><img src="/media/images/iconos/inline-restore.png">Todos</button>
		</div>
	</form>
	
	<table align="center">
		<thead>
			<tr>
				<th>UserName</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Telefono</th>
				<th>Editar</th>
				<th>Eliminar</th>
				<th>Consultar</th>
			</tr>
		</thead>
		{% for u in users %}
		<tbody>
			<tr>
				<td>{{u.username}}</td>
				<td>{{u.first_name}}</td>
				<td>{{u.last_name}}</td>
				<td>{{u.usuario.telefono}}</td>				
				<td><a href= "/modificar/usuario/{{u.id}}/"><button><img src="{% static "images/iconos/icon_changelink.gif" %}"></button></a></td>
				<td><a href= "/eliminar/usuario/{{u.id}}/"><button><img src="{% static "images/iconos/icon_deletelink.gif" %}"></button></a></td>
				<td><a href= "/consultar/usuario/{{u.id}}/"><button><img src="{% static "images/iconos/consultar.png" %}" width="11px" heigh="11px"></button></a></td>
			</tr>
		</tbody>
		
		{% endfor %}
	</table>
	<p align="center"><input type="button" name="volver_menu" value="Volver a Menu" onClick="location.href='/menu/'"></p>
{% endblock %}
