{% extends "base.html" %}
{% block title %} Consultar Usuario{% endblock %}
{% block content %}

<div>
	
	<div id="box1">
		<div float="right">
			<p align="center">Datos del Usuario</p>
			{% if foto%}
				<p align="center"><img src= "/media/{{foto}}" width="100px" heigh="100px"></p>
			{% else %}
				<p align="center"><img src= "/media/images/iconos/no_disponible.png" width="100px" heigh="100px"></p>
			{% endif %}
		</div>
		{{form.as_p}}
		
		<p align="center"><input type="button" name="volver" value="Volver" onClick="location.href='/adm_usuario/'"></p>
	</div>
	
	
	
</div>
{% endblock %}