{% extends "base.html" %}
{% block title %} Crear Usuario {% endblock %}
{% block content %}
	{% load staticfiles %}
	{% block css %}
		
	{% endblock %}
	<br />
	<br />
	<div id="formul">
	<form action = "." method = "POST">
		{% csrf_token %}
		<p>User Name:<br />
		{{ form.username }}</p>
		<div>
		<p>Nombre:<br />
		{{ form.nombre }}</p>
		<div>
		<p>Apellido:<br />
		{{ form.apellido }}</p>
		<div>
		<p>Email:<br />
		{{ form.email }}</p>
		<div>
		<p>Password:<br />
		{{ form.password_one }}</p>
		<div>
		<p>Confirmar Password:<br />
		{{ form.password_two }}</p>
		<div id="divbtn2">
				<button class = "boton" type= "submit">Guardar</button>
				<input class = "boton" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_usuario/'">
				<input class = "boton" type="reset" value="Reset"/>
		</div>
	</form>
	</div>
{% endblock %}
