{% extends "base.html" %}
{% block title %} Crear Usuario {% endblock %}
{% block content %}
	{% load staticfiles %}
	{% block css %}
		
	{% endblock %}
	<br />
	<br />
	<h4 align="center"><strong>Crear Usuario</strong></h4>
	<div class="panel large-6 large-centered columns">
	<form action = "." method = "POST">
		{% csrf_token %}
		<p><label>Username
		{{ form.username }}</label></p>
		<p><label>Nombre:
		{{ form.nombre }}</label></p>
		
		<p><label>Apellido:
		{{ form.apellido }}</label></p>
		
		<p><label>Email:<br />
		{{ form.email }}</label></p>
		
		<p><label>Password:<br />
		{{ form.password_one }}</label></p>
		
		<p><label>Confirmar Password:<br />
		{{ form.password_two }}</label></p>
		<div class="large-8 right columns">
				<input class = "small radius button" type="submit" value="Guardar"/>
				<input class = "small radius button" type="reset" value="Reset"/>
				<input class = "small radius button alert" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_usuario/'">
		</div>
	</form>
	</div>
{% endblock %}
