{% extends "base.html" %}
{% block title %} Modificar Datos{% endblock %}
{% block content %}
	{% load staticfiles %}
<br />
<br />
<div>
		<form method = 'POST' action = "" enctype="multipart/form-data">
			{% csrf_token %}
			<div id="formul">
				<div>
				{% if user.usuario.foto %}
					<p>Foto Actual</p><img src = "/media/{{user.usuario.foto}}" width="100px" heigh="100px"></img>
				{% endif %}
					<p>Cambiar Foto <br/>
					{{exten_form.foto}}
					</p>
				</div>
				<p>User Name:<br />
				{{user_form.username}}</p>
				<p>Nombre:<br />
				{{user_form.first_name}}</p>
				<p>Apellido:<br />
				{{user_form.last_name}}</p>
				<p>Email:<br />
				{{user_form.email}}</p>
				<p>Telefono:<br />
				{{exten_form.telefono}}</p>
			</div>
			
			<div id="divbtn">
				<input class= "boton" type="submit" value="Guardar Cambios"/>
				<input class= "boton" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/menu/'">
				<input class= "boton" type="reset" value="Reset"/>	
			</div>
		</form>
</div>
{% endblock %}
