{% extends "base.html" %}
{% block title %} Modificar Datos{% endblock %}
{% block content %}
	{% load staticfiles %}
		<form id= "form" method = 'POST' action = "" enctype="multipart/form-data">
			{% csrf_token %}
			<div>
				{{ user_form.as_p }}
				{{ exten_form }} <img src = "/media/{{user.usuario.foto}}" width="100px" heigh="100px"></img>
			</div>
			
			<div id="formu">
				<input type="submit" value="Guardar Cambios"/>
				<input type="button" name="Cancelar" value="Cancelar" onClick="location.href='/menu/'">
				<input type="reset" value="Reset"/>	
			</div>
			
		</form>		
{% endblock %}
