{% extends "base.html" %}
{% block title %} Modificar Datos{% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<h4 align="center"><strong>Editar Usuario</strong></h4>
	<br />
		<div class="panel row" data-equalizer>
	
	
			<form method = 'POST' action = "" enctype="multipart/form-data">
				{% csrf_token %}
				
				<div class="small-3 columns" data-equalizer-watch>
					<label>Foto</label>
					{% if foto %}
						
						<a class="th" href="{{foto}}">
							<img id="perfil" src = "{{foto}}" width="100px" heigh="500px" >
						</a>
						
					{% else %}
						
						<a class="th" href="/media/{{foto}}">
							<img id="perfil" src = "/media/images/iconos/no_disponible.png" width="100px" heigh="500px" >
						</a>
					{% endif %}
					
						<input id="id_foto" type="file" name='foto' ></input>
					
					
				</div>
			<div class="large-8 columns" data-equalizer-watch>
				<div id="formul">
					<p>User Name:<br />
					{{user_form.username}}</p>
					<p>Nombre:<br />
					{{user_form.first_name}}</p>
					<p>Apellido:<br />
					{{user_form.last_name}}</p>
					<p>Email:<br />
					{{user_form.email}}</p>
					<p>Telefono:<br />
					{{exten_form.telefono}}</p>
				</div>
			</div>
				<div class="large-5 right">
					<input class= "tiny radius button" type="submit" value="Guardar Cambios"/>
					<input class= "tiny radius button" type="reset" value="Reset"/>
					<input class= "tiny radius alert button" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_usuario/'">	
				</div>
			</form>
	</div>
		
{% endblock %}
