{% extends "base.html" %}
{% block title %} Modificar Datos{% endblock %}
{% block content %}
	{% load staticfiles %}
	{% block css %}
		<link rel="stylesheet" href= "{% static "css/formularios.css" %}"></link>
		<link rel="stylesheet" href= "{% static "css/base.css" %}"></link>
	{% endblock %}
		<form id= "form" method = 'POST' action = "" enctype="multipart/form-data">
			{% csrf_token %}
			<div>
				{{ user_form.as_p }}
				{{ exten_form }} <img src = "/media/{{foto}}" width="100px" heigh="100px"></img>
			</div>
			
			<div id="formu">
				<input type="submit" value="Guardar Cambios"/>
				<input type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_usuario/'">
				<input type="reset" value="Reset"/>	
			</div>
			
		</form>		
{% endblock %}
