{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
<h2 id= "h2login" align="center" >Iniciar Sesión</h2>
<div id="box1">
	<form action = "." method = "POST">
		{% csrf_token %}
		{{ mensaje }}
		{{ form.as_p }}
		{% if next %}
			<input type="hidden" value= "{{next}}" name="next">
		{% else %}
			<input type="hidden" value= "/" name="next">
		{% endif %}
		<p align="center"><button class = "btn btn-primary" type= "submit">Ingresar</button></p>
	</form>
	<div position="relative" left="50%">
		<p align="center"><a href="{% url 'vista_rp' %}">Recuperar Contraseña</a><p>
	</div>
</div>
{% endblock %}
