{% extends "base.html" %}
{% block title %} Recuperar Password {% endblock %}
{% block content %}
<br />
<br />
<h3 align= "center"><strong>Recuperar Password</strong></h3>
<div class= "panel row">
<div class="large-4 large-centered columns ">

	<form action = "." method = "POST">
		{% csrf_token %}
		{{ mensaje }}
		<div align="center">
			{{ form.as_p }}
		</div>
		<div align="center">
			<input class=" tiny button" value="Recuperar" type= "submit"></input>
			<input class="tiny button" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/login/'">
		</div>
	</form>
</div>
</div>
{% endblock %}
