{% extends "base.html" %}
{% block title %} Recuperar Password {% endblock %}
{% block content %}
<div id="box1">
<p align= "center">Recuperar Password</p>
	<form action = "." method = "POST">
		{% csrf_token %}
		{{ mensaje }}
		<div align="center">
			{{ form.as_p }}
		</div>
		<div align="center">
			<button class = "btn btn-primary" type= "submit">Recuperar</button>
			<input type="button" name="Cancelar" value="Cancelar" onClick="location.href='/login/'">
		</div>
	</form>
</div>
{% endblock %}
