{% extends "base.html" %}
{% block title %} Administrar Proyecto {% endblock %}
{% block content %}
	{% load staticfiles %}
<div>
	<br />
	<br />
	<br />
	<div class="panel row">	
	<h4 align="center"><strong>Administración de Proyectos</strong></h4>
	<br />
	<div class="row">
		<div class="large-9 large-centered columns"  data-equalizer-watch>
			<form action="{% url 'vista_buscar_proyecto' %}" method='POST'>
				{% csrf_token %}
			 	<dl class="sub-nav" >
  					
					<dd >
						<button title="Nuevo" type="button" class=" radius small success button" name="agregar" onClick="location.href='/crear_proyecto/'"><i class="fi-plus"></i></button>
					</dd>
					<dd>
						<p>Buscar por:</p>
					</dd>
					<dd>
					{{form.opciones}}
					</dd>
					<dd >
					{{form.busqueda}}
					</dd>
					<dd >
						<button title="Buscar/Filtrar" class="small info button" type= "submit"><i class="fi-magnifying-glass"></i></button>
					</dd>
					<dd >
						<button title="Mostrar Todos" type="button" class="small info button" name="todos" onClick="location.href='/adm_proyecto/'"><i class="fi-torsos-all"></i></button>
					</dd>
				</dl>
			</form>
		</div>
		</div>
	

<div>
	<table align="center" class="tabless">
		<thead class="th2">
			<tr>
				<th width="90">Nombre</th>
				<th>Cliente</th>
				<th>Fecha Creación</th>
				<th>Fecha Inicio</th>
				<th>Fecha Fin</th>
				<th width="40">Editar</th>
				<th width="40">Eliminar</th>
				<th width="40">Consultar</th>
				<th>Asignar Equipo</th>
				<th>Kanban</th>
			</tr>
		</thead>
		{% for p in proyectos %}
		<tbody class="td2">
			<tr>
				<td>{{p.nombre}}</td>
				<td>{{p.cliente}}</td>
				<td>{{p.fecha_creacion}}</td>				
				<td>{{p.fecha_inicio}}</td>
				<td>{{p.fecha_fin}}</td>
				<td><a href= "/modificar/proyecto/{{p.id}}/"><button class="tiny success radius button"><i class="fi-pencil styletrash"></i></button></a></td>
				<td><a href= "/eliminar/proyecto/{{p.id}}/"><button class="tiny radius alert button"><i class="fi-trash styletrash"></i></button></a></td>
				<td><a href= "/consultar/proyecto/{{p.id}}/"><button class="tiny radius info button"><i class="fi-eye styletrash"></i></button></a></td>
				
				
				<td><a href= "/asignar_equipo/proyecto/{{p.id}}/"><button class="tiny radius button">E</button></a></td>
				<td><a href= "/kanban/proyecto/{{p.id}}/"><button class="tiny radius button">K</button></a></td>
			</tr>
		</tbody>
		
		{% endfor %}
	</table>
	<p align="center"><input class="small radius button" type="button" name="volver_menu" value="Volver a Menú" onClick="location.href='/menu/'"></p>
</div>
</div>
{% endblock %}
