{% extends "base.html" %}
{% block title %} Proyecto | Asignar Equipo {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<h4 align="center"><strong>Asignar equipo</strong></h4>
	{% if aux %}
	
	
	<div class= "panel row" align="center" >
	<form action= "/cantidad_equipo/proyecto/{{p}}/" method="POST">
		{% csrf_token %}
		<div class="small-6 small-centered columns">
		<h6>Inserte el número de integrantes a insertar:</h6>
		{{aux.as_p}}
		<p><input class="small radius button" type="submit" value="Aceptar"></input>
		<input class="small radius button" type="button" name="volver" value="Cancelar" onClick="location.href='/adm_proyecto/'"></p>
		</div>
	</form>
	</div>
	{% endif %}
	<br />
	{% if form %}
	<form action="/asignar_equipo/proyecto/{{p}}/" method="POST">
	{% csrf_token %}
	{{ form.management_form }}
	<div class="panel row">
	<table align="center">
	<thead>
			<tr>
				<th width="500">Usuario</th>
				<th width="500">Rol</th>
			</tr>
	</thead>
	{% for f in form %}
		<tbody>
			<tr>
				<td style="display:none">{{f.proyect}}</td>
				<td>{{f.miembro}}</td>
				<td>{{f.rol}}</td>				
			</tr>
		</tbody>
	{% endfor %}
	</table>
	</div>
	<div>
	<p align="center"><input class="small radius button" type="submit" value="Guardar"></input>
	<input class="small radius button" type="button" name="volver" value="Cancelar" onClick="location.href='/adm_proyecto/'"></p>
	</div>
	</form>
	{% endif %}
{% endblock %}