{% extends "base.html" %}
{% block title %} Consultar Proyecto{% endblock %}
{% block content %}
<br />
<br />
			<h4 align="center"><strong>Consultar Proyecto</strong></h4>
<div class="panel row">	
	<div class=" panel large-4 columns left">
			<div class="panel"><h5 align="center"><strong>Equipo</strong></h5></div>
			<div>
			{% if list %}			
				{%for miembro,r in list%}
					<ul align="left">
						<li id="p2">{{miembro}} - Rol: {{r.rol}}</li>
					</ul>
				{% endfor %}
			{% else %}
				<p  id="p2">Proyecto sin Equipo</p>
			{% endif %}
			</div>
	</div>
	<div class="panel large-4 columns left">
		<div class="panel">
			<h5 align="center"><strong>Datos del Proyecto</strong></h5>
			
		</div>
		
			
		<div>
				<label>Nombre
				{{form.nombre}}
				</label>
				<label>Cliente
					<input type="Text" value="{{cliente}}" readonly></input>
				</label>
				<label>Estado
					{{form.estado}}
				</label>
				<label>Flujos del Proyecto
					{{form.flujos}}
				</label>
				<label>Descripción
					{{form.descripcion}}
				</label>
				<label>Fecha_creación
					{{form.fecha_creacion}}
				</label>
				<label>Fecha de Inicio
					{{form.fecha_inicio}}
				</label>
				<label>Fecha de Finalización
					{{form.fecha_fin}}
				</label>
		</div>
		
		
	</div>

	<div class="panel large-4 columns left">
			<div class="panel">
				<h5 align="center"><strong>User Stories</strong></h5>
			</div>
			
			{% if ust %}		
				{%for u in ust %}
					<ul align="left">
						<li id="p2">{{u}} <a id="{{u.id}}" name="info{{u}}"><i title="Ver Informacion" class="fi-info"></i></a> - <a id="a{{u.id}}" name="asig{{u}}"><i title="Asignar Flujo-Sprint" class="fi-link"></i></a></li>
						
					</ul>
				{% endfor %}
			{% else%}
				<p id="p2">No existen User stories asignados a proyecto </p>
			{% endif%}
	</div>
	
</div>
<p align="center"><input class="small radius button" type="button" name="volver" value="Volver" onClick="location.href='/adm_proyecto/'"></p>
<div id="dialogo" style="display:none">
	<select id="selefp" name="flujosp">
		{% for f in flujos %}
			<option value="{{f.id}}">{{f}}</option>
		{% endfor %}
	</select>
	<select id="selesp" name="sprintsp">
		{% for s in sprints %}
			<option value="{{s.id}}">{{s}}</option>
		{% endfor %}
	</select>
</div>

<div class= "" id="infous" style="display:none">
	<label for="nombreus">Nombre</label>
	
	<input type="text" id="nombreus" disabled></input>
	<label for="sprintasociado">Sprint Asociado</label>
	<input type="text" id="sprintasociado" disabled></input>
	
	<label for="flujoasignado">Flujo asignado</label>
	<input type="text" id="flujoasignado" disabled></input>
	
	<label for="testimado">Tiempo Estimado</label>
	<input type="text" id="testimado" disabled></input>
	<label for="ttrabajado">Horas Realizadas</label>
	<input type="text" id= "ttrabajado" disabled></input>
	<label for="descrip">Descripción</label>
	<textarea id="descrip" rows="4" disabled ></textarea> 
</div>
{% endblock %}