{% extends "base.html" %}
{% block title %} Consultar Proyecto{% endblock %}
{% block content %}
<br />
<br />
	
<div id="formuequipo" align="center">
			<h3 align="center">Equipo</h3>
			{% if list %}			
				{%for miembro,r in list%}
					<ul align="left">
						<li id="p2">{{miembro}} - Rol: {{r.rol}}</li>
					</ul>
				{% endfor %}
			{% else %}
				<p  id="p2">Proyecto sin Equipo</p>
			{% endif %}
</div>
<div id="formuconsulta">
		<div>
			<h3 align="center">Datos del Proyecto</h3>
			
		</div>
		
			
		<div>
				<p>Nombre<br />
				{{form.nombre}}
				</p>
				<p>Cliente<br />
					<input type="Text" value="{{cliente}}" readonly></input>
				</p>
				<p>Estado<br />
					{{form.estado}}
				</p>
				<p>Flujos del Proyecto<br />
					{{form.flujos}}
				</p>
				<p>Descripción<br />
					{{form.descripcion}}
				</p>
				<p>Fecha_creación<br />
					{{form.fecha_creacion}}
				</p>
				<p>Fecha de Inicio<br />
					{{form.fecha_inicio}}
				</p>
				<p>Fecha de Finalización<br />
					{{form.fecha_fin}}
				</p>
		</div>
		
		<p align="center"><input class="boton" type="button" name="volver" value="Volver" onClick="location.href='/adm_proyecto/'"></p>
	</div>

<div id="formuequipo">
			<h3 align="center">User Stories</h3>
			{% if ust %}		
				{%for u in ust %}
					<ul align="left">
						<li id="p2">{{u}} <a href= "/consultar/US/{{u.id}}/"><button><img src="/media/images/iconos/consultar.png" width="11px" heigh="11px"></button></a></li>
						
					</ul>
				{% endfor %}
			{% else%}
				<p id="p2">No existen User stories asignados a proyecto </p>
			{% endif%}
</div>
	
</div>
{% endblock %}