{% extends "base.html" %}
{% block title %} Crear Proyecto {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<br />
	<div id="formul">
	<form action = "." method = "POST">
		{% csrf_token %}
		
			{{ form.non_field_errors }}
			<div> 
				{{form.nombre.errors}}
				<p>Nombre<br/>
				{{ form.nombre }}
				</p>
				<p>Cliente<br/>
				{{ form.cliente }}
				</p>
				{{ form.fecha_creacion.errors }}
				<p>Fecha Creación (AAAA-MM-DD):<br/>
				{{ form.fecha_creacion }}</p>
				{{ form.fecha_inicio.errors }}
				<p>Fecha Inicio (AAAA-MM-DD):<br/>
				{{ form.fecha_inicio }}
				<p>
				
				{{ form.fecha_fin.errors }}
				<p>Fecha Fin (AAAA-MM-DD):<br/>
				{{ form.fecha_fin }}
				</p>
			</div>
			<div>
				{{ form.descripcion.errors }}
				<p>Descripción <br/>
				{{ form.descripcion }}</p>
			</div>
			<div id="bsubmit">
				<input class = "boton" type= "submit" value="Guardar"></input>
				<input class = "boton" type="reset" value="Reset"/>
				<input class="boton" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_proyecto/'">
			</div>
		</form>
	</div>
{% endblock %}
