{% extends "base.html" %}
{% load staticfiles %}
{% block title%}Kanban Proyecto{% endblock %}


{% block content %}
{% if form %}
<div class="panel large-11 large-centered columns">
	<br />
	<br />

		<h4 align="center"><strong>Administrar kanban</strong></h4>
		<br />	
		<form>	
		<div class="small-6 small-centered columns">		
			<label for="flujos">Seleccione el flujo del proyecto</label>
			<select id="selef" name="flujos">
			{% for f in form %}
			 	<option value="{{f.id}}">{{f}}</option> 				  	
		  	{% endfor %}
		  	</select>
		  	<input id="proy" type="text" style="display:none" value="{{p.id}}"></input>
		  	
		</div> 
		  	<div id= "btn" class="small-4 right columns">
				<input class="small radius button" id="selfluj" type="button" value="Aceptar"></input>
				<input class="small radius button" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_proyecto/'">
			</div>
			{% endif %}
</div>
	</form>
	<form id="formu">
	{% if actividades %}
			<div class="panel row medium-uncollapse large-centered large-collapse large-12 columns">
				<h4 align='center'><strong>Tabla Kanban</strong></h4>
				<h6 align='center'><strong>Flujo:</strong> {{flujo}} | <strong>Sprint Actual:</strong> {{sp}}</h6>
				<br />
				{% for a in actividades %}
				<div class="small-4 columns">
				<table border="7" id="{{a}}" name="t{{a}}">
					<caption align="center">{{a}}</caption>
					<thead>
						<th title="User Stories pendientes" width="100">To do</th>
						<th title="User Stories en desarrollo" width="90">Doing</th>
						<th title="User Stories finalizados" width="90">Done</th>
					</thead>
					<tbody>
					{% for el in fs %}
						
						{% if a == el.actividad %}
						<tr id="{{el.id}}ta">
						{% if el.estado == 'td' %}
							<td id="{{el.us.id}}">{{el.us}} <a title="Ver Información/Cambiar Estado" id="c{{el.us.id}}" name="cambiar"><i class="fi-arrow-right"></i></a></td>
							<td></td>
							<td></td>
						{% elif el.estado == 'dg' %}
							
							<td></td>
							<td id="{{el.us.id}}"> <a title="Volver a estado o actividad" id="v{{el.us.id}}" name="volver"><i class="fi-arrow-left"></i></a>  {{el.us}} <a title="Ver Información/Cambiar Estado"  id="c{{el.us.id}}" name="cambiar"><i class="fi-arrow-right"></i></a></td>
							<td></td>
						{% else %}
							
							<td></td>
							<td></td>
							<td id="{{el.us.id}}"><a title="Volver a estado o actividad" id="v{{el.us.id}}" name="volver"><i class="fi-arrow-left"></i></a> {{el.us}} <a title="Ver Información/Cambiar Estado" id = "c{{el.us.id}}" name="cambiar"><i class="fi-arrow-right"></i></a></td>
						{% endif %}
						</tr>
						{% endif %}
					{% endfor %}
					</tbody>
				</table>
				</div>
				{% endfor %}
				
				
			</div>
			{% endif %}
</form> 
			<div id="inforus" style="display:none">
				<label for="nombreus">Nombre</label>
				<input type="text" id="nombreus" disabled></input>
				<label for="testimado">Tiempo Estimado</label>
				<input type="text" id="testimado" disabled></input>
				<label for="ttrabajado">Horas Realizadas</label>
				<input type="text" id= "ttrabajado" disabled></input>
				<label for="prioridad">Prioridad</label>
				<input type="text" id="prioridad" disabled></input>
				
				<label for="descrip">Descripción</label>
				<textarea id="descrip" rows="4" disabled ></textarea> 
			</div>
			<form method='POST'>
			{% csrf_token %}
			<div id="comentario" style="display:none">
				<label for="nombrecom">Nombre</label>
				<input type="text" id="nombrecom"></input>
				<label for="horastrab">Horas Trabajadas</label>
				<input type="text" id="horastrab"></input>
				
				<label for="coment">Descripción</label>
				<textarea id="coment" rows="4"></textarea> 
			</div>
			</form>
			<form method='POST'>
			<div id="volverestado" style="display:none">
				<select id="seleacti" name="selacti">
				{% for a in actividades %}
				
			 		<option value="{{a.id}}">{{a}}</option> 				  	
		  		{% endfor %}
		  		</select>
				
			</div>
			</form>
{% endblock %}