{% extends "base.html" %}
{% block title %} Administrar Sprint {% endblock %}
{% block content %}
	{% load staticfiles %}
<div>
	<br />
	<br />
	<br />
	<h2>{{mensaje}}<h2> 
	{% if icono %}
		<img float="left" src="/media/images/iconos/{{icono}}" width="20px" heigh="20px">
	{% endif%}
	<form action="{% url 'vista_buscar_sprint' %}" method='POST'>
		{% csrf_token %}
		<div float="left" align="center">
			<button type="button" name="agregar" onClick="location.href='/crear_sprint/'"><img src="/media/images/iconos/icon_addlink.gif" width="16px" heigh="16px">Nuevo</button>
			|
			{{form}}
			<!--  <input type="submit" value="Buscar" ></input> -->
			
			<button type= "submit"><img src="/media/images/iconos/selector-search.gif">Buscar</button>
			|
			<button type="button" name="todos" onClick="location.href='/adm_sprint/'"><img src="/media/images/iconos/inline-restore.png">Todos</button>
		</div>
	</form>
	
</div>
<div>
	<table align="center">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Proyecto</th>
				<th>Fecha Inicio</th>
				<th>Fecha Fin</th>
				<th>Editar</th>
				<th>Eliminar</th>
				<th>Consultar</th>
			</tr>
		</thead>
		{% for s in sprints %}
		<tbody>
			<tr>
				<td>{{s.nombre}}</td>
				<td>{{s.proyect}}</td>
				<td>{{s.fecha_inicio}}</td>
				<td>{{s.fecha_fin}}</td>				
				<td><a href= "/modificar/sprint/{{s.id}}/"><button><img src="/media/images/iconos/icon_changelink.gif"></button></a></td>
				<td><a href= "/eliminar/sprint/{{s.id}}/"><button><img src="/media/images/iconos/icon_deletelink.gif"></button></a></td>
				<td><a href= "/consultar/sprint/{{s.id}}/"><button><img src="/media/images/iconos/consultar.png" width="11px" heigh="11px"></button></a></td>
			
				
				
			</tr>
		</tbody>
		
		{% endfor %}
	</table>
	<p align="center"><input class="boton" type="button" name="volver_menu" value="Volver a Menú" onClick="location.href='/menu/'"></p>
</div>
{% endblock %}
