{% extends "base.html" %}
{% block title %} Administrar Sprint {% endblock %}
{% block content %}
	{% load staticfiles %}
<div>
	<br />
	<br />
	<br />
	<h4 align="center"><strong>Administración de Sprints</strong></h4>
	<br />
	<div class="row">
	<div class="large-9 large-centered columns"  data-equalizer-watch>
			<form action="{% url 'vista_buscar_sprint' %}" method='POST'>
				{% csrf_token %}
			 	<dl class="sub-nav" >
  					
					<dd >
						<button title="Nuevo" type="button" class=" radius small success button" name="agregar" onClick="location.href='/crear_sprint/'"><i class="fi-plus"></i></button>
					</dd>
					<dd>
						<p>Buscar por:</p>
					</dd>
					<dd>
					{{form.opciones}}
					</dd>
					<dd >
					{{form.busqueda}}
					</dd>
					<dd >
						<button title="Buscar/Filtrar" class="small radius info button" type= "submit"><i class="fi-magnifying-glass"></i></button>
					</dd>
					<dd >
						<button title="Mostrar Todos" type="button" class="small radius info button" name="todos" onClick="location.href='/adm_sprint/'"><i class="fi-torsos-all"></i></button>
					</dd>
				</dl>
			</form>
		</div>
		</div>
<div>
	<table class="tabless" align="center">
		<thead class="th2">
			<tr>
				<th  width="200">Nombre</th>
				<th width="200">Proyecto</th>
				<th  width="200">Fecha Inicio</th>
				<th  width="200">Fecha Fin</th>
				<th width="40">Editar</th>
				<th width="40">Eliminar</th>
				<th width="40">Consultar</th>
				
			</tr>
		</thead >
		{% for s in sprints %}
		<tbody class="td2">
			<tr>
				<td>{{s.nombre}}</td>
				<td>{{s.proyect}}</td>
				<td>{{s.fecha_inicio}}</td>
				<td>{{s.fecha_fin}}</td>				
				<td><a href= "/modificar/sprint/{{s.id}}/"><button class="tiny radius success button"><i class="fi-pencil styletrash"></i></button></a></td>
				<td><a href= "/eliminar/sprint/{{s.id}}/"><button class="tiny radius alert button"><i class="fi-trash styletrash"></i></button></a></td>
				<td><a href= "/consultar/sprint/{{s.id}}/"><button class="tiny radius info button"><i class="fi-eye styletrash"></i></button></a></td>
			</tr>
		</tbody>
		
		{% endfor %}
	</table>
	<p align="center"><input class="tiny radius button" type="button" name="volver_menu" value="Volver a Menú" onClick="location.href='/menu/'"></p>
</div>
{% endblock %}
