{% extends "base.html" %}
{% block title %} Modificar Sprint {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<h4 align="center"><strong>Modificar Sprint</strong></h4>
	<br />
	<div class="panel row">
	
			{{ form.non_field_errors }}
			<div class="small-6 small-centered columns"> 
				{{form.nombre.errors}}
				<p><strong>Nombre</strong><br/>
				{{ form.nombre }}
				</p>
				<label><strong>Proyecto asociado</strong>
					<input type="text" value="{{ p }}" readonly></input>
				</label>
				<p><strong>Fecha de inicio</strong><br/>
				{{ form.fecha_inicio }}
				</p>
				<p><strong>Fecha de Culminación</strong><br/>
				{{ form.fecha_fin }}
				</p>
			
				{{ form.descripcion.errors }}
				<p><strong>Descripción</strong> <br/>
				{{ form.descripcion }}</p>
			
				
				<label><strong>US asignados</strong>
				{{ form.ust }}</label>
			</div>
			
			<div class="small-4 right">
				<input class="small radius button" type="button" name="Cancelar" value="volver" onClick="location.href='/adm_sprint/'">
			</div>
	</div>
{% endblock %}
