body {
	background-image: url("/media/images/back4.jpg");	
	
}
body, input, textarea { font: 12px/20px Arial, sans-serif; color: #333333; }

#box1 {
		position: absolute;
		top:50%; 
		left:50%; /*determinamos una anchura*/ 
		width:400px; 
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/ 
		margin-left: -200px; /*determinamos una altura*/ 
		height:auto; /*indicamos que el margen superior, es la mitad de la altura*/ 
		margin-top:-150px; 
		border:1px solid #808080; 
		padding:7px;
	}

#h2login {
	font: 20px Arial, sans-serif; color: #333333; 
	top:50%; 
	left:50%;
	margin-top:90px;
}

h2{
	font: 14px Arial, sans-serif; color: #333333; 
}

h1
{
	font: 25px Arial, sans-serif; color: #333333;
	float : left;
	top: 0px;
	margin-top:0px;
}