
#formul { 
    padding: 20px 0px 0px 30%;   /* margen con valores: arriba - derecha - abajo - izquierda */
    font-family:verdana,arial;
    font-size:9pt;
    border: 2px;
    border-style: outset;
    border-left-width: thick;
    border-bottom-width: thick;
    border-width: auto;
}
#p2{
	font-family:verdana,arial;     /* tipo de letra */                  /* anchura de campos de formulario */ 
    font-size:9pt;                /* tamaño de la letra*/
    font: message-box;  
    color:#2e3436;                 /* color del texto */  
    
}
.cl2{
	font-family: verdana;
	font-size: 12pt;
	color: #d3d7cf
	
}
#formuequipo
{
	float: left;
	padding: 20px 2% 0px 0%;   /* margen con valores: arriba - derecha - abajo - izquierda */
	font-family:verdana,arial;
    font-size:9pt;
    border: 2px;
    border-style: outset;
    border-left-width: thick;
    border-bottom-width: thick;
    border-width: auto;
    width: auto;
}
#formuequipo2
{
	
	   /* margen con valores: arriba - derecha - abajo - izquierda */
	
	font-family:verdana,arial;
    font-size:10pt;
    border: 1px;
    border-style: outset;
    border-left-width: thick;
    border-bottom-width: thick;
    border-width: auto;
    height: auto;
    width: auto;
}
#formuconsulta {
	float : left;
    padding: 20px 2% 0px 2%;   /* margen con valores: arriba - derecha - abajo - izquierda */
    font-family:verdana,arial;
    font-size:9pt;
    border: 2px;
    border-style: outset;
    border-left-width: thick;
    border-bottom-width: thick;
    border-width: auto;
}
 
#divbtn { 
    padding: 20px 0px 0px 35%;   /* margen con valores: arriba - derecha - abajo - izquierda */
    font-family:verdana,arial;
    font-size:9pt;
}
#divbtn2 { 
    padding: 20px 0px 0px 7%;   /* margen con valores: arriba - derecha - abajo - izquierda */
    font-family:verdana,arial;
    font-size:9pt;
}
.campos { 
    font-family:verdana,arial;     /* tipo de letra */ 
    width: 500px;                 /* anchura de campos de formulario */ 
    font-size:8pt;                /* tamaño de la letra*/  
    color:#2e3436;                 /* color del texto */  
    border: 1px radio black;        /* color del borde puede ser solid ó dotted */  
    background-color:#f3f3f3;    /* color del fondo */  
} 
.textarea {
	 font-family:verdana,arial;     /* tipo de letra */ 
    width: 500px;                 /* anchura de campos de formulario */ 
    font-size:8pt;                /* tamaño de la letra*/  
    color:#2e3436;                 /* color del texto */  
    border: 1px dotted black;        /* color del borde puede ser solid ó dotted */  
    background-color:#f3f3f3;    /* color del fondo */
	height: 150px;
}
.boton{
    font-size:12px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:#d3d7cf;
    background:#3465a4;
    border:0px;
    width:120px;
    height:25px;
}

.botonover{
    font-size:12px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:#ffffff;
    background:#3465a4;
    border:3px;
    width:122px;
    height:26px;
}

#breset {
	float:rigth;
    margin: 0px 0px 0px 0px;    /* margen con valores: arriba - derecha - abajo - izquierda */ 
} 

#bsubmit { 
    margin: 0px 0px 0px 70px;    /* margen con valores: arriba - derecha - abajo - izquierda */ 
} 
