ul {
list-style: none;
}


#navega #menu #fijo { 
    position:fixed; 
    font-family:verdana,arial; 
    font-size:11pt; 
    text-align:center; 
    padding: 10px 5px 10px 5px;    /* margen con valores: arriba - derecha - abajo - izquierda */  
    top: 0px;                    /* Distancia hasta el borde superior */ 
    left: 0px;            /* Distancia hasta el borde izquierdo */
    width:100%;
    height: 20px;
    background-color:#19829a;  
    z-index: 1;               /* hace que la capa sea opaca  */ 
}  