table {     
	font-family: Lucida Sans Unicode, Lucida Grande, Sans-Serif;
    font-size: 13px;    
    margin: auto;     
    width: 990px; 
    text-align: center;    
    border-collapse: collapse;
    
    }

th {     
	font-size: 13px;     
	font-weight: normal;     
	padding: auto;     
	background: #19829a;
    border-top: 8px solid #aabcfe;    
    border-bottom: 3px solid #ffffff; 
    color: #003339; 
    padding-top: 2px;
}

.td2 {    
	padding: 2px;     
	background: #e8edff;     
	border-bottom: 1px solid #ffffff;
    color: #19829a;    
    border-top: 5px solid transparent;
    border-left:  auto;
    border-right: auto;
    padding-top: 2px;
    padding-right: 2px;
 }

tr:hover td { background: #d0dafd; color: #339339; }