{% extends "base.html" %}
{% block title %} Crear US {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<h4 align="center"><strong>Crear User Story</strong></h4>
	<br />
	<div class="panel row">
	<form action = "." method = "POST">
		{% csrf_token %}
		
			{{ form.non_field_errors }}
			<div class="small-6 small-centered columns"> 
				{{form.nombre.errors}}
				<label>Nombre
				{{ form.nombre }}
				</label>
				<label>Proyecto asociado
				{{ form.proyecto_asociado }}
				</label>
				<label>Tiempo estimado(Horas)
				{{ form.tiempo_estimado }}
				</label>
				<label>Tiempo Trabajado(Horas)
				{{ form.tiempo_trabajado }}
				</label>
				<label>Prioridad
				{{ form.prioridad }}
				</label>
			
			
				{{ form.descripcion.errors }}
				<label>Descripción 
				{{ form.descripcion }}</label>
			</div>
			
			<div class="small-6 right">
				<input class = "small radius button" type= "submit" value="Guardar"></input>
				<input class = "small radius button" type="reset" value="Reset"/>
				<input class="small radius alert button" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_US/'">
			</div>
		</form>
	</div>
{% endblock %}
