{% extends "base.html" %}
{% block title %} Modificar US {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<h4 align="center"><strong>Modificar User Story</strong></h4>
	<br />
	<div class="panel row">
	<form action = "." method = "POST">
		{% csrf_token %}
		
			{{ form.non_field_errors }}
			<div class="small-6 small-centered columns"> 
				{{form.nombre.errors}}
				<p>Nombre<br/>
				{{ form.nombre }}
				</p>
				<p>Proyecto asociado<br/>
				{{ form.proyecto_asociado }}
				</p>
				<p>Tiempo estimado(Horas)<br/>
				{{ form.tiempo_estimado }}
				</p>
				<p>Tiempo Trabajado(Horas)<br/>
				{{ form.tiempo_trabajado }}
				</p>
				<p>Usuarios asignados<br/>
				{{ form.usuario_asignado }}
				</p>
				<p>Prioridad<br/>
				{{ form.prioridad }}
				</p>
				<p>Flujo asignado<br/>
				{{ k.fluj }}
				</p>
			
				{{ form.descripcion.errors }}
				<p>Descripción <br/>
				{{ form.descripcion }}</p>
			</div>
			
			<div class="small-6 right">
				<input class = "small radius button" type= "submit" value="Guardar"></input>
				<input class = "small radius button" type="reset" value="Reset"/>
				<input class="small radius alert button" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_US/'">
			</div>
	</div>
{% endblock %}
