{% extends "base.html" %}
{% block title %} Crear Flujo {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<br />
	<h4 align="center"><strong>Crear flujo</strong></h4>
	<div class="panel row">
	<form action = "." method = "POST">
		{% csrf_token %}
		
			{{ form.non_field_errors }}
			<div class="medium-6 medium-centered columns"> 
				{{form.nombre.errors}}
				<p>Nombre<br/>
				{{ form.nombre }}
				</p>
				<p>Actividades<br/>
				{{ form.actividades }}
				</p>
				<label for="agregar">Agregar Actividad</label>
				<button class="tiny radius success" type="button" name="agregar" onClick="location.href='/crear_actividad/{{nuevo}}'"><i class="fi-plus"></i></button>
				
			</div>
			<div class="small-6 right">
				<input class = "small radius button" type= "submit" value="Guardar"></input>
				<input class = "small radius button" type="reset" value="Reset"/>
				<input class="small radius alert button" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_flujo/'">
			</div>
		</form>
	</div>
{% endblock %}
