{% extends "base.html" %}
{% block title%}Eliminar Flujo{% endblock %}
{% block content %}

<br />
<br />
<h4 align="center"><strong>Eliminar Flujo</strong></h4>
<div class= "panel large-5 large-centered columns">
<p>Esta a punto de eliminar del sistema al siguiente flujo: <strong>{{flujo}}</strong></p>
<p>Por favor confirme la acción</p>
</div>
<div class="large-5 large-centered columns ">
	<form method = 'POST' action = "" >
		{% csrf_token %}
		<div class="small-6 small-centered columns">
			<input class="small radius button" type="submit" value="Aceptar"></input>
			<input class="small radius button" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_flujo/'">
		</div>
	</form>
</div>

{% endblock %}