{% extends "base.html" %}
{% block title %} Modificar Flujo {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<br />
	<div id="formul">
	<form action = "." method = "POST">
		{% csrf_token %}
		
			{{ form.non_field_errors }}
			<div> 
				{{form.nombre.errors}}
				<p>Nombre<br/>
				{{ form.nombre }}
				</p>
				<p>Actividades<br/>
				{{ form.actividades }}
				<button type="button" name="agregar" onClick="location.href='/crear_actividad/flujo/{{id}}'"><img src="/media/images/iconos/icon_addlink.gif" width="16px" heigh="16px"></button>
				
			</div>
			<div id="bsubmit">
				<input class = "boton" type= "submit" value="Guardar"></input>
				<input class = "boton" type="reset" value="Reset"/>
				<input class="boton" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_flujo/'">
			</div>
		</form>
	</div>
{% endblock %}
