{% extends "base.html" %}
{% block extra_head %}

{% endblock extra_head %}
{% block title %} Modificar Flujo {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<h4 align="center"><strong>Modificar Flujo</strong></h4>
	<br />
	<div class="panel row">
	<form action = "." method = "POST">
		{% csrf_token %}
		
			{{ form.non_field_errors }}
			<div class="small-6 small-centered columns"> 
				{{form.nombre.errors}}
				<label>Nombre
				{{ form.nombre }}
				</label>
				
				<label>Actividades. Puede cambiar el orden arrastrandolas</label>
				
				<ul id="id_actividades">
    			{% for a,ac in list %}
      				<li id="act_{{ac.id}}">
        				{{ a }}
        			</li>
      			
    		{% endfor %}
				</ul>
				<label for="agregar">Agregar actividad</label>
				<button class="tiny sucess radius button" type="button" name="agregar" onClick="location.href='/crear_actividad/flujo/{{id}}'"><i class="fi-plus"></i></button>
				
			</div>
			<div class="small-6 right">
				<input class = "small radius button" type= "submit" value="Guardar"></input>
				<input class = "small radius button" type="reset" value="Reset"/>
				<input class="small radius alert button" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_flujo/'">
			</div>
		</form>
	</div>
{% endblock %}
