{% load staticfiles %}
<html>
	<head>
		<title>IS2 - Proyectos Agiles | {% block title %} Inicio {% endblock %}</title>
		  	<link rel="stylesheet" href= "/media/css/base.css"></link>
		  	<link rel="stylesheet" href= "/media/css/formu.css"></link>		  	  	
		  	<link rel="stylesheet" href= "/media/css/tablas.css"></link>
		  	<link rel="stylesheet" href= "/media/css/menu.css"></link>
	</head>	
	<body>
			<div id="navega"> 
				<div id="menu"> 
					<div id="fijo" float="left" >
						<h1 align="left"> IS2- R09</h1>					
						{% if user.is_authenticated %}
						     <a href="{% url 'vista_adm_sesion' %}">Adm.Sesion</a>
						     |
						     {% if user.is_staff%}
						     	<a href="{% url 'vista_adm_usuario' %}">Admin.Usuario</a>
						     	|
						     	<a href="{% url 'vista_adm_rol' %}">Admin.Roles</a>
						     	|
						     {% endif %}
						     	
						     	<a href="{% url 'vista_adm_proyecto' %}">Admin. Proyecto</a>
						     	|
						     	<a href="{% url 'vista_adm_flujo' %}">Admin. Flujo</a>
						     	|
						     	<a href="{% url 'vista_adm_us' %}">Admin. US</a>
						     	
						     <p align="right">Usuario {{user}} - <button type="button" name="logout" onClick="location.href='/logout/'"><img src="/media/images/iconos/logout.png" width="15px" heigh="15px"></button></p>
						{% endif %} 
					</div>  
				</div>  
			</div>		
			<div id = "content">
				<br/>
				<br/>
				{% block content %}{% endblock %}
			</div>
	</body>
</html>