{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title>IS2 - Proyectos Agiles | {% block title %} Inicio {% endblock %}</title>
		  	<link rel="stylesheet" href= "/media/js/jquery-ui/jquery-ui.css"></link>
		  	<link rel="stylesheet" href= "/media/found/css/foundation.css"></link>
		  	<link rel="stylesheet" href= "/media/found/css/foundation-icons.css"></link>
		  	<link rel="stylesheet" href= "/media/css/customs.css"></link>
		  	
		  	
		  	
		  	<script src="/media/js/jquery.js" type="text/javascript"></script>
		  	<script src="/media/js/jquery-ui/jquery-ui.js" type="text/javascript"></script>
		  	<script src="/media/js/jquery.numeric.js" type="text/javascript"></script>
		  	<script src="/media/js/jquery.flot.js" type="text/javascript"></script>
		  	<script src="/media/js/jquery.flot.axislabels.js" type="text/javascript"></script>
			<!-- Scrip para el filtrado de US segun flujo seleccionado -->
		  	<script src="/media/js/custom/cambioflujo.js" type="text/javascript"></script>
		  	<!-- Scrip para la carga de User Stories -->
			<script type="text/javascript" src="/media/js/custom/cargaUS.js" charset="utf-8"></script>
			
			<script type="text/javascript" src="/media/js/custom/sacarRelease.js" charset="utf-8"></script>
			<script type="text/javascript" src="/media/js/custom/lanzarRelease.js" charset="utf-8"></script>
			<!-- Script para panel de navegacion -->
			<script type="text/javascript" src = "/media/js/custom/menunaveg.js"></script>
		  	 <!-- Script para seleccionador de fechas de Proyectos-->
		  	<script src="/media/js/custom/FormatoDatePicker.js"></script>
			<script src ="/media/js/custom/fechapick.js"></script>
			<!-- script para lel proceso kanban de los User Stories -->
			<script type="text/javascript" src="/media/js/custom/infoUS.js"></script>
			<!-- script para o burndowncharts -->
			<script type="text/javascript" src="/media/js/custom/cargabd.js"></script>
			<script type="text/javascript" src="/media/js/custom/volverActividad.js"></script>
			
			<!-- Funciones varias -->
			<script src="/media/js/custom/funciones.js"></script>
			
			 <script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $("#id_actividades").sortable({
      update: function(event, ui) {
        var serial = $("#id_actividades").sortable('serialize');
    	$.ajax({
      		url: "{% url 'sort' %}",
      		type: 'POST',
      		data: serial
      
    	});
      },
    }).disableSelection();
  });
</script>

	
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){  
  
    	$("a[name^='asig']").click(function() {
    		var id = $(this).attr('id')
    		var i = id.substr(1);
    		$( "#dialogo" ).dialog({
				dialogClass: "no-close",
				title: 'Asignar Flujo-Sprint',
				width: 500,
				buttons: [
				{
					text: "Guardar",
					click: function() 
					{
						var flujo = $('#selefp').val();
    					var sprint = $('#selesp').val();
    		
						$.ajax({
    						url: "{% url 'asignar_ust' %}",
				      		type: 'POST',
				      		data: {k:i,f:flujo,s:sprint},
				      		datatype: 'json',
				      		
				      		success: function(result) {
				      			var a = jQuery.parseJSON(result);
					      		alert(a.mensaje);
					      		$( '#dialogo' ).dialog( "destroy" );
					      		
					        },
					        error: function() {
					            alert('Error occured');
					        }		
					    });	
					}
				},
									{
										text: "Cancelar",
										click: function() {
											$( this ).dialog( "close" );}
									},
												]
								});
	    		    		    	});  
	});

</script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){  
  
    	$("a[name^='info']").click(function() {
    		var i = $(this).attr('id');
    		$.ajax({
    			url: "{% url 'infoust' %}",
      		type: 'GET',
      		data: {k:i},
      		datatype: 'json',
      		
      		contentType: "application/json; charset=utf-8",
      		success: function(result) {
      		var a = jQuery.parseJSON(result);
            	var a = jQuery.parseJSON(result);
	            	$('#nombreus').val(a.nombre);
	            	$('#testimado').val(a.test);
	            	$('#ttrabajado').val(a.tt);
	            	$('#descrip').val(a.des);
	            	$('#sprintasociado').val(a.sprint);
	            	$('#flujoasignado').val(a.flujo);
	            	$("#infous").dialog(
    		{
				dialogClass: "panel",
				title: 'Info User Story',
				width: 500,
				buttons: [
				{
					text: "OK",
					click: function() {
						$( this ).dialog( "close" );}
				},
				
							]
			});
        },
        error: function() {
            alert('Error occured');
        }		
    		});
    		    		    	});  
	});
</script>
</head>	
<body>
<div class="fixed" id="menu">
<nav class="top-bar" data-topbar role="navigation"> 
	<ul class="title-area"> 
		<li class="name"> 
			<h1><a href="/">IS2_R09</a></h1> 
		</li>  
		<li class="toggle-topbar menu-icon">
			<a href="#"><span>Menu</span>
		</a>
		</li> 
	</ul> 
	<section id="secc" class="top-bar-section"> <!-- Right Nav Section -->
		<ul class="right"> 
			{% if user.is_authenticated %}
			<li class="active">
				<button class="radius button alert" title="Cerrar Sesión" name="logout" onClick="location.href='/logout/'"><i class="fi-power"></i></button>
			</li>
			{% endif %}
		</ul>  
		<ul class="left"> 
	 		{% if user.is_authenticated %}
			<li><a class= "enlaceh" href="{% url 'vista_adm_sesion' %}">Sesión</a></li>
			{% if user.is_staff%}
			<li><a class= "enlaceh" href="{% url 'vista_adm_usuario' %}">Usuarios</a></li>
			<li><a class= "enlaceh" href="{% url 'vista_adm_rol' %}">Roles</a></li>
						     	
			{% endif %}
						     	
						     	<li><a id= "ceh"  class= "enlaceh"  href="{% url 'vista_adm_proyecto' %}">Proyectos</a></li>
						     	{% if user.is_staff%}
						     	<li><a class= "enlaceh" href="{% url 'vista_adm_flujo' %}">Flujos</a></li>
								{% endif %}			     	
						     	<li><a class= "enlaceh" href="{% url 'vista_adm_us' %}">User Stories</a></li>
						     	
						     	<li><a class= "enlaceh" href="{% url 'vista_adm_sprint' %}">Sprints</a></li>
						{% endif %}     	
		</ul> 
	</section> 
</nav>
</div>
						 <br />
						 
					
			<div id = "content">
				{% block content %}{% endblock %}
			</div>
	</body>
</html>