{% load staticfiles %}
<html>
	<head>
		<title>IS2 - Proyectos Agiles | {% block title %} Inicio {% endblock %}</title>
		  	<link rel="stylesheet" href= "/media/css/base.css"></link>
		  	<link rel="stylesheet" href= "/media/css/formularios.css"></link>		  	  	
		  	<link rel="stylesheet" href= "/media/css/tablas.css"></link>
	</head>	
	<body>
		
		<div>
			{% if user.is_authenticated%} 
				<p align="right">Usuario {{user}} - <button type="button" name="logout" onClick="location.href='/logout/'"><img src="/media/images/iconos/logout.png" width="15px" heigh="15px"></button></p>		
			{% endif %}
		</div>		
		<header>
			<h1> IS2- R09</h1>	
		</header>
			<div id = "content">
				{% block content %}{% endblock %}
			</div>
	</body>
</html>