{% extends "base.html" %}
{% block title %} Crear Actividad {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
		<h4 align="center"><strong>Crear actividad</strong></h4>
	<br />
	<div class="panel row">
	<form action = "." method = "POST">
		{% csrf_token %}
		
			{{ form.non_field_errors }}
			<div class="small-6 small-centered columns"> 
				{{form.nombre.errors}}
				<label>Nombre</label>
				{{ form.nombre }}
				{{ form.order }}
			</div>
			<div class="small-6 right">
				<input class = "small radius button" type= "submit" value="Guardar"></input>
				<input class = "small radius button" type="reset" value="Reset"/>
				<input class="small radius alert button" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/crear_flujo/n'">
			</div>
			
		</form>
	</div>
{% endblock %}