{% extends "base.html" %}
{% block title %} Consultar Comentario {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<h4 align="center"><strong>Consultar Comentario</strong></h4>
	<br />
	<div class="panel row">
			{{ form.non_field_errors }}
			<div class="small-6 small-centered columns"> 
				{{form.nombre.errors}}
				<p>Nombre<br/>
				{{ form.nombre }}
				</p>
				<p>Fecha de creación<br/>
					{{ form.fecha_creacion }}
				</p>
				<p >Fecha última modificación<br/>
				{{ form.fecha_ultima_mod }}
				</p>
			
				<p>Comentario <br/>
				{{ form.comentario }}</p>
			</div>
			<div class="small-5 right columns">
				<input class="small radius button" type="button" name="Cancelar" value="Volver" onClick="location.href='/adm_comentario/{{userid}}/'">
			</div>
	</div>
{% endblock %}
