{% extends "base.html" %}
{% block title %} Consultar Comentario {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<br />
	<div id="formul">
	<form action = "." method = "POST">
		{% csrf_token %}
		
			{{ form.non_field_errors }}
			<div> 
				{{form.nombre.errors}}
				<p>Nombre<br/>
				{{ form.nombre }}
				</p>
				<p>Fecha de creación<br/>
					{{ form.fecha_creacion }}
				</p>
				<p >Fecha última modificación<br/>
				{{ form.fecha_ultima_mod }}
				</p>
			</div>
			<div>
				<p>Comentario <br/>
				{{ form.comentario }}</p>
			</div>
			<div>
				<input class="boton" type="button" name="Cancelar" value="Volver" onClick="location.href='/adm_comentario/{{userid}}/'">
			</div>
		</form>
	</div>
{% endblock %}
