{% extends "base.html" %}
{% block title %} Modificarr Comentario {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<br />
	<div id="formul">
	<form action = "." method = "POST">
		{% csrf_token %}
		
			{{ form.non_field_errors }}
			<div> 
				{{form.nombre.errors}}
				<p>Nombre<br/>
				{{ form.nombre }}
				</p>
				<p>Fecha Creacion<br/>
					{{ form.fecha_creacion }}
				</p>
				<p >Fecha Modificacion<br/>
				{{ form.fecha_ultima_mod }}
				</p>
			</div>
			<div>
				<p>Comentario <br/>
				{{ form.comentario }}</p>
			</div>
			<div id="bsubmit">
				<input class = "boton" type= "submit" value="Guardar"></input>
				<input class = "boton" type="reset" value="Reset"/>
				<input class="boton" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_comentario/{{userid}}/'">
			</div>
		</form>
	</div>
{% endblock %}
