{% extends "base.html" %}
{% block title %} Administrar Adjuntos {% endblock %}
{% block content %}
	{% load staticfiles %}
<div>
	<br />
	<br />
	<br />
	<h2>{{mensaje}}<h2> 
		
</div>
<div>
	<table align="center">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Version</th>
				<th>Editar</th>
				<th>Eliminar</th>
				<th>Consultar</th>
			</tr>
		</thead>
		{% for a in adjuntos %}
		<tbody>
			<tr>
				<td>{{a.id}}</td>
				<td>{{a.nombre}}</td>
				<td>{{a.version}}</td>				
				<td><a href= "/modificar/adjunto/{{a.id}}/{{userid}}/"><button><img src="/media/images/iconos/icon_changelink.gif"></button></a></td>
				<td><a href= "/eliminar/adjunto/{{a.id}}/{{userid}}/"><button><img src="/media/images/iconos/icon_deletelink.gif"></button></a></td>
				<td><a href= "/consultar/adjunto/{{a.id}}/{{userid}}/"><button><img src="/media/images/iconos/consultar.png" width="11px" heigh="11px"></button></a></td>
				
			</tr>
		</tbody>
		
		{% endfor %}
	</table>
	<p align="center"><input class="boton" type="button" name="volver_menu" value="Volver" onClick="location.href='/adm_US/'"></p>
</div>
{% endblock %}
