{% extends "base.html" %}
{% block title %} Consultar Adjunto {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<h4 align="center"><strong>Consulta Adjunto</strong></h4>
	<br />
	<div class="panel row">
	<form action = "." method = "POST" enctype="multipart/form-data">
		{% csrf_token %}
		
			{{ form.non_field_errors }}
			<div class="small-7 small-centered columns"> 
				{{form.nombre.errors}}
				<p>Nombre<br/>
				{{ form.nombre }}
				</p>
				<p>Descripción<br/>
					{{ form.descripcion }}
				</p>
				<p>Versión<br/>
				{{ form.version }}
				</p>
				<p>Comentario <br/>
				{{ form.comentario_commit }}</p>
				<p>Archivo Actual <br/>
				</p>
				<a href="/media/{{archivo}}">Actual</img></a>
			</div>
			<<div class="small-4 right">
				<input class="small radius button" type="button" name="Cancelar" value="volver" onClick="location.href='/adm_adjunto/{{userid}}/'">
			</div>
		</form>
	</div>
{% endblock %}
