{% extends "base.html" %}
{% block title %} Modificar Adjunto {% endblock %}
{% block content %}
	{% load staticfiles %}
	<br />
	<br />
	<h4 align="center"><strong>Modificar Adjunto</strong></h4>
	<br />
	<div class="panel row">
	<form action = "." method = "POST" enctype="multipart/form-data">
		{% csrf_token %}
		
			{{ form.non_field_errors }}
			<div class="small-7 small-centered columns"> 
				{{form.nombre.errors}}
				<p>Nombre<br/>
				{{ form.nombre }}
				</p>
				<p>Descripción<br/>
					{{ form.descripcion }}
				</p>
				<p>Versión<br/>
				{{ form.version }}
				</p>
				<p>Comentario <br/>
				{{ form.comentario_commit }}</p>
				<p>Archivo <br/>
				{{form.archivo}}
				</p>
			</div>
			<<div class="small-6 right">
				<input class = "small radius button" type= "submit" value="Guardar"></input>
				<input class = "small radius button" type="reset" value="Reset"/>
				<input class="small radius button" type="button" name="Cancelar" value="Cancelar" onClick="location.href='/adm_adjunto/{{userid}}/'">
			</div>
		</form>
	</div>
{% endblock %}
